<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cmdmosca | Contacto</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
</head>

<body>
    <header>   
        <!--Aqui va a ir la el logotipo principal y la navegacion entre paginas-->
            <!--logotipo principal-->
            <div id="header-logo">
                <img src="../assets/svg/logo.svg" alt="logo comando mosca" id="img-logo">
            </div>
        <!--navegacion entre paginas-->
            <div id="header-menu">
                <ul>
                    <li class="header-navegacion">
                        <a href="../index.html">Inicio</a>
                    </li> 
                    <li class="header-navegacion">
                        <a href="../views/galeria_dinamica.html">Galeria</a>
                    </li> 
                    <li class="header-navegacion">
                        <a href="../views/presupuesto.html">Presupuesto</a>
                    </li> 
                    <li class="header-navegacion">
                        <a href="../views/contacto.html" id="estoy">Contacto</a>
                    </li>   
                    <li class="header-navegacion">
                        <a href="../views/login_BCRYPT.php">Login</a>
                    </li>                                  
                </ul>        
            </div>
    </header>
    <main id="main-contacto">
        <!--Especificar los datos de la empresa, contacto-->
            <div id="main-contacto-datos">
                <h3>Contacta con nosotros</h3>
                <h4>Siempre que quieras puedes contactar con nosotros
                    en redes sociales o en nuenstro correo info@cmdmosca.com
                </h4>
                <h5>Somos CMD Mosca. Probablemente aun no sepas quienes somos.
                    Nuestra historia comineza siendo un grupo de estudiantes
                    de diseño grafico en busca de aprender más despues de terminar
                    la carrera, y ante esta necesida de seguir aprendiendo y 
                    compartir con los demas lo que aprendemos. Surje CMD Mosca.
                </h5>
            </div>
        <!--Insertar mapa dinamico que calcule la ruta del punto de tu negacio asta el de cliente: Google Maps o OpenStreetMaps-->
            <div id="mainContactoMapa">
                <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
                <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
                <script>

                    navigator.geolocation.getCurrentPosition(function(position){
                        let latitude = position.coords.latitude;
                        let longitude = position.coords.longitude;

                        let mainContactoMapa = L.map('mainContactoMapa',{
                            center: [latitude, longitude],
                            zoom: 12
                        });
                        
                        
                        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                            attribution: '&copy; <a href = "http://osm.org/copyright"> OpenStreetMap </a> contributors'
                        }).addTo(mainContactoMapa);
                        
                        let control = L.Routing.control({
                            waypoints: [
                                L.latLng(latitude, longitude),
                                L.latLng(39.58665, 2.65209)
                            ],
                            language: 'es',
                            show: false
                        }).addTo(mainContactoMapa);
                    });
                </script>
            </div>
    </main>
    <footer>
        <!--Aqui van a ir el apartado de cookis, redes sociales y direccion de la empresa-->
            <!--Redes sociales-->
                <div id="footer-redes">
                    <a href="https://www.twitch.tv/cmdmosca">
                        <img src="../assets/svg/redes-03.svg" class="footer-redes-logo" alt="icono twitch">
                    </a>
                    <a href="https://www.youtube.com/channel/UCPvkjdF2-u2qwJirXD_FMGw">
                        <img src="../assets/svg/redes-05.svg" class="footer-redes-logo" alt="icono youtube">
                    </a>
                    <a href="https://www.instagram.com/cmdmosca/">
                        <img src="../assets/svg/redes-01.svg" class="footer-redes-logo" alt="icono instagram">
                    </a>
                    <a href="https://twitter.com/cmdmosca">
                        <img src="../assets/svg/redes-04.svg" class="footer-redes-logo" alt="icono twitter">
                    </a>
                    <a href="https://www.facebook.com/search/top?q=cmdmosca%20mosca">
                        <img src="../assets/svg/redes-02.svg" class="footer-redes-logo" alt="icono facebook">
                    </a>
                </div>
            <!--Direccion de la empresa-->
                <div id="footer-empresa">
                    <a href="https://goo.gl/maps/KtDiZRMUc2LX58Cm9">Carrer de Jordi Villalonga i Velasco, 6, 07010 Palma, Illes Balears</a>
                </div>
            <!--Artado de cookis-->
                <div id="footer-cookis">
                    © 2022 CMD Mosca <a href="">· Términos y condiciones</a> <a href="">· Cookies </a> <a href="">· Política de privacidad</a>
                </div>           
    </footer>
</body>
</html>