<!DOCTYPE html>
<html lang="es" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>cmdmosca | Galeria</title>
		<meta name="description" content="Blueprint: Blueprint: Google Grid Gallery" />
		<meta name="keywords" content="google getting started gallery, image gallery, image grid, template, masonry" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" href="../css/estilos.css">
		<link rel="stylesheet" type="text/css" href="../css/demo.css" />
		<link rel="stylesheet" type="text/css" href="../css/component.css" />
		<script src="../js/modernizr.custom.js"></script>
	</head>
	<body>
		<header>   
			<!--Aqui va a ir la el logotipo principal y la navegacion entre paginas-->
				<!--logotipo principal-->
				<div id="header-logo">
					<img src="../assets/svg/logo.svg" alt="logo comando mosca" id="img-logo">
				</div>
			<!--navegacion entre paginas-->
				<div id="header-menu">
					<ul>
						<li class="header-navegacion">
							<a href="../index.html">Inicio</a>
						</li> 
						<li class="header-navegacion">
							<a href="../views/galeria_dinamica.html" id="estoy">Galeria</a>
						</li> 
						<li class="header-navegacion">
							<a href="../views/presupuesto.html">Presupuesto</a>
						</li> 
						<li class="header-navegacion">
							<a href="../views/contacto.html">Contacto</a>
						</li>
						<li class="header-navegacion">
							<a href="../views/login_BCRYPT.php">login</a>
						</li>                                    
					</ul>        
				</div>
		</header>
		<div id="grid-gallery" class="grid-gallery">
			<section class="grid-wrap">
				<ul class="grid">
					<li class="grid-sizer"></li><!-- for Masonry column width -->
					<li>
						<figure>
							<img src="../assets/img-galeria/1.jpg" alt="Retrato Bop Cato"/>
							<figcaption><h3>Bob Cato</h3><p>Descubre quien ser</p></figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="../assets/img-galeria/2.jpg" alt="chica sentada en el suelo con libros"/>
							<figcaption><h3>Antes de acusar a una marca plagio</h3><p>¡Hay que pensárselo dos veces!</p></figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="../assets/img-galeria/3.jpg" alt="Museo"/>
							<figcaption><h3>Museo de Salamanca Art Nouveau y Déco</h3><p>Descubre más</p></figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="../assets/img-galeria/4.jpg" alt="Mano con un mando de videojuegos"/>
							<figcaption><h3>¿Te gustan los juegos, el Art Nouveau y Déco?</h3><p>Descubrelo aquí</p></figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="../assets/img-galeria/5.jpg" alt="Logotipo de Nike tapado"/>
							<figcaption><h3>Por qué Nike</h3><p>No puede usar su nombre en España</p></figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="../assets/img-galeria/6.jpg" alt="Un par de círculos con palabras"/>
							<figcaption><h3>Porceso Creativo</h3><p>Según Edward de Bono</p></figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="../assets/img-galeria/7.jpg" alt="Iconos representando el proceso creativo"/>
							<figcaption><h3>5 Tendencias</h3><p>Del 2021 no te lo pierdas!</p></figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="../assets/img-galeria/8.jpg" alt="Cinco grande dibujado"/>
							<figcaption><h3>¿Existen las 3B en diseño?</h3><p>Bueno, bonito y barato</p></figcaption>
						</figure>
					</li>
				</ul>
			</section><!-- // grid-wrap -->
			<section class="slideshow">
				<ul>
					<li>
						<figure>
							<figcaption>
								<h3>Bob Cato</h3>
								<p>Cato se mudo a Chicago, donde estudio brevemente con el diseñador de la Bauhaus László Moholy-Nagy.Fue un diseñador gráfico, el cual trabajo en portadas de discos.</p>
							</figcaption>
							<img src="../assets/img-galeria/1-1.jpg" alt="Retrato Bop Cato"/>
						</figure>
					</li>
					<li>
						<figure>
							<figcaption>
								<h3>Antes de acusar a una marca de plagio</h3>
								<p>En la actualidad los recursos gráficos de los que disponemos son finitos y limitados. Esto hace que las probabilidades de que una marca coincidan son mayores.</p>
							</figcaption>
							<img src="../assets/img-galeria/2-2.jpg" alt="chica sentada en el suelo con libros"/>
						</figure>
					</li>
					<li>
						<figure>
							<figcaption>
								<h3>Museo de Salamanca Art Nouveau y Déco</h3>
								<p>La Casa Lis es un palacete urbano enclavado sobre la antigua muralla de la ciudad de Salamanca, fue mandado a construir por D. Miguel de Lis en 1855 - 1909.</p>
							</figcaption>
							<img src="../assets/img-galeria/3-3.jpg" alt="Museo"/>
						</figure>
					</li>
					<li>
						<figure>
							<figcaption>
								<h3>¿Te gustan los juegos, el Art Nouveau y el Déco? </h3>
								<p>Transistor, es un juego de rol con temática de ciencia ficción inspirado en el Art Nouveau y Déco. Bruxelles 1893, es un juego de mesa orientado en la época del nacimiento del Art Nouveau.</p>
							</figcaption>
							<img src="../assets/img-galeria/4-4.jpg" alt="Mano con un mando de videojuegos"/>
						</figure>
					</li>
					<li>
						<figure>
							<figcaption>
								<h3>¿Sabías que Nike no podía usar su nombre en España?</h3>
								<p>Un grupo de empresarios españoles (Cidesport y J. Rosell) formuló una demanda solicitando la nulidad de la marca Nike que el Registro de Marcas había otorgado a las sociedades American Nike y Nike Internacional.</p>
							</figcaption>
							<img src="../assets/img-galeria/5-5.jpg" alt="Logotipo de Nike tapado"/>
						</figure>
					</li>
					<li>
						<figure>
							<figcaption>
								<h3>5 Tendencias de 2021</h3>
								<p>Las personas y las empresas han tenido que adaptarse más rápido que nunca en esta nueva era tecnológica por la que estamos pasando. Hay ciertos elementos del diseño que llegaron para quedarse, así que veamos algunas predicciones.</p>
							</figcaption>
							<img src="../assets/img-galeria/7-7.jpg" alt="Un par de círculos con palabras"/>
						</figure>
					</li>
					<li>
						<figure>
							<figcaption>
								<h3>Proceso creativo</h3>
								<p>El estudio del proceso creativo es uno de los elementos importantes de la naturaleza variada de la creatividad. Según Edward De Bono, una de las características más comunes y fundamentales de los procesos creativos corresponde a la aproximación como sistema cognitivo dinámico y auto-organizado.</p>
							</figcaption>
							<img src="../assets/img-galeria/6-6.jpg" alt="Iconos representando el proceso creativo"/>
						</figure>
					</li>
					<li>
						<figure>
							<figcaption>
								<h3>¿Existen las 3B en diseño?</h3>
								<p>Es habitual que cuando alguien necesita los servicios de un diseñador gráfico, suelen buscar las 3B (Bueno, Bonito y Barato). Sobretodo la última palabra… Pero en realidad, esto no se encuentra en el mundo del diseño gráfico.</p>
							</figcaption>
							<img src="../assets/img-galeria/8-8.jpg" alt="Cinco grande dibujado"/>
						</figure>
					</li>					
				</ul>
				<nav>
					<span class="icon nav-prev"></span>
					<span class="icon nav-next"></span>
					<span class="icon nav-close"></span>
				</nav>
				<div class="info-keys icon">Navigate with arrow keys</div>
			</section><!-- // slideshow -->
		</div><!-- // grid-gallery -->
		<footer>
			<!--Aqui van a ir el apartado de cookis, redes sociales y direccion de la empresa-->
				<!--Redes sociales-->
					<div id="footer-redes">
						<a href="https://www.twitch.tv/cmdmosca">
							<img src="../assets/svg/redes-03.svg" class="footer-redes-logo" alt="icono twitch">
						</a>
						<a href="https://www.youtube.com/channel/UCPvkjdF2-u2qwJirXD_FMGw">
							<img src="../assets/svg/redes-05.svg" class="footer-redes-logo" alt="icono youtube">
						</a>
						<a href="https://www.instagram.com/cmdmosca/">
							<img src="../assets/svg/redes-01.svg" class="footer-redes-logo" alt="icono instagram">
						</a>
						<a href="https://twitter.com/cmdmosca">
							<img src="../assets/svg/redes-04.svg" class="footer-redes-logo" alt="icono twitter">
						</a>
						<a href="https://www.facebook.com/search/top?q=cmdmosca%20mosca">
							<img src="../assets/svg/redes-02.svg" class="footer-redes-logo" alt="icono facebook">
						</a>
					</div>
				<!--Direccion de la empresa-->
					<div id="footer-empresa">
						<a href="https://goo.gl/maps/KtDiZRMUc2LX58Cm9">Carrer de Jordi Villalonga i Velasco, 6, 07010 Palma, Illes Balears</a>
					</div>
				<!--Artado de cookis-->
					<div id="footer-cookis">
						© 2022 CMD Mosca <a href="">· Términos y condiciones</a> <a href="">· Cookies </a> <a href="">· Política de privacidad</a>
					</div>           
		</footer>
		<script src="../js/imagesloaded.pkgd.min.js"></script>
		<script src="../js/masonry.pkgd.min.js"></script>
		<script src="../js/classie.js"></script>
		<script src="../js/cbpGridGallery.js"></script>
		<script>
			new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
		</script>
	</body>
</html>
